<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ECommerceTestSuite" verbose="1" parallel="false">
    <test name="ECommerceTests">
        <classes>
            <class name="tests.SearchTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>
</suite>
